@tailwind base;
@tailwind components;
@tailwind utilities;
.column {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ebecf0;
}
.column-title {
  text-align: center;
  padding: 6px 0;
  height: 40px;
  background-color: green;
  position: relative;
  top: -9px;
}
.item-task {
  padding: 8px;
  margin: 8px 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 1px 0 #091e4240;
  width: 230px;
}
.item-task:hover {
  background-color: #f4f4f7;
}

.Broad {
  /* background-image: url('../public/assets/image/backtrello.jpg'); */
  height: 94vh;
}
.asslsss:hover {
  background-color: #026aa7;
}
.btn-my-trell {
  position: relative;
  bottom: -6px;
}
.dropdown-top{
  position: absolute;
  top: 56px;
}
.hover-btn-top:hover{
  background-color: #ccc;
}

.ic-edit-data{
  position: absolute;
  top: 0px;
  right: 0;
  padding: 4px;
  z-index: 1;
}
.ic-edit-details{
  position: relative;
  font-size: 28px;
  color: black;
  cursor: pointer;
}
.ic-edit-details:hover{
  color: white;

}
.MuiAvatar-root{
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bold;
}
.MuiAvatar-root{
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bold;
}
